<div n:snippet="async" class="async-control-snippet">
	<a n:href="asyncLoad!" n:attr="(expand) $link->getAttributes()" data-async rel="nofollow">
		<i class="fa fa-spinner fa-spin fa-3x"></i>
	</a>
</div>
