<div n:snippet="async" class="async-control-snippet">
	<div class="box box-secondary async-control-snippet-preloader">
		<div class="box-body">
			<a n:href="asyncLoad!" n:attr="(expand) $link->getAttributes()" data-async rel="nofollow">
				<i class="fa fa-spinner fa-spin fa-3x"></i>
			</a>
		</div>
	</div>
</div>
